@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --coachify-teal-700: hsl(180deg 25% 10%);
  --coachify-teal-900: hsl(180deg 5% 5%);
  --coachify-teal-700-hsl: 180deg 25% 10%;
  --coachify-teal-900-hsl: 180deg 5% 5%;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
