@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-hsl: 0deg 0% 100%;
  --coachify-blue-500: hsl(190deg 100% 55%);
  --coachify-blue-500-hsl: 190deg 100% 55%;
  --coachify-mint-500: hsl(155deg 100% 55%);
  --coachify-mint-500-hsl: 155deg 100% 55%;
  --coachify-teal-1100: hsl(180deg 25% 10%);
  --coachify-teal-1100-hsl: 180deg 25% 10%;
  --coachify-teal-1200: hsl(180, 25%, 5%);
  --coachify-teal-1200-hsl: 180 25% 5%;
  --coachify-teal-1300: hsl(180deg 5% 5%);
  --coachify-teal-1300-hsl: 180deg 5% 5%;

  --nav-bg-opacity: 0;
  --header-height: 66px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--coachify-teal-1200);
}

@layer utilities {
  .transition-200-out-quart {
    @apply transition-all duration-200 ease-out-quart;
  }
}

@layer utilities {
  .bg-coachify-gradient {
    background: linear-gradient(to right,
        hsla(var(--coachify-teal-1200-hsl) / 50%),
        hsla(var(--coachify-teal-1200-hsl) / 50%)),
      linear-gradient(to right,
        hsla(var(--coachify-blue-500-hsl) / 25%),
        hsla(var(--coachify-mint-500-hsl) / 25%)),
      linear-gradient(to right,
        var(--coachify-teal-1100),
        var(--coachify-teal-1100));
  }

  .transition-x {
    transition-property: transform;
  }

  .custom-scrollbar {
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: transparent hsla(var(--white-hsl) / 25%);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsla(var(--white-hsl) / 25%);
    border-radius: 8px;
  }

  @supports (overflow: overlay) {
    .custom-scrollbar {
      overflow: overlay;
      scrollbar-width: thin;
      scrollbar-color: transparent hsla(var(--white-hsl) / 25%);
    }

    .custom-scrollbar::-webkit-scrollbar {
      width: 16px;
      height: 16px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 8px;
      border: 4px solid transparent;
      box-shadow: 4px 0px 0px 4px hsla(var(--white-hsl) / 25%) inset;
    }
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}