.container {
  background-color: hsla(
    var(--coachify-teal-700-hsl) / var(--nav-bg-opacity, 0)
  );
}

.container::before {
  content: '';
  position: absolute;
  inset: auto 0 0 0;
  height: 1px;
  border-bottom: 1px solid hsla(180deg 100% 100% / 10%);
  opacity: var(--nav-bg-opacity, 0);
}
