.container {
  position: relative;
  contain: content;
  background-color: var(--coachify-teal-900);
}

.container::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100vh;
  background: url(/coachify-bg-3.png) center top / cover no-repeat;
  z-index: -1;
}
